#folders
venv
.idea
hardware/phyduino_pico/phyduino_pico-backups
hardware/phyduino_pico/exports
hardware/analog_front_end_shield/analog_front_end_shield-backups
hardware/analog_front_end_shield/exports

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
