[submodule "arduino/libraries/STUSB4500/SparkFun_STUSB4500_Arduino_Library"]
	path = arduino/libraries/STUSB4500/SparkFun_STUSB4500_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_STUSB4500_Arduino_Library.git
